{% extends 'layout.html' %}
{% block title %}Државно{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center" style="padding: 2rem;">
            <h1 id="drzavno-2023">Државно 2023</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" style="padding-bottom: 1rem; text-align: center;">
            <h3>Коначни резултати са Државног такмичења одржаног у Врању </h3>
        </div>
    </div>

    <div class="row" style="align-items: center; justify-content: center;">
        <div class="col-sm-6">
            <table class="table table-hover table-bordered table-responsive text-center">
                <tbody>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/1%20razred%20Alfa.pdf">1.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/1%20razred%20Beta.pdf">1.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/1%20Gama.pdf">1.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/2%20razred%20Alfa.pdf">2.
                                Алфа </a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/2%20razred%20Beta.pdf">2.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/2%20Gama.pdf">2.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/3%20razred%20Alfa.pdf">3.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/3%20razred%20Beta.pdf">3.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/3%20Gama.pdf">3.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/4%20razred%20Alfa.pdf">4.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/4%20razred%20Beta.pdf">4.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/4%20Gama.pdf">4.
                                Гама</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col" style="padding: 2rem;">
            <h5>Позивно <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%2023/Invitation.pdf">писмо</a>
            </h5>
        </div>
        <p>LPR Cup is an international online physics Olympiad for 9-12 grades.</p>
        <p>The new season of the Olympiad begins on April 22, and I would be very grateful if you would tell about it to
            those who might be interested.</p>
        <p>Our website: <a href="http://en.lpr-olimp.ru/">http://en.lpr-olimp.ru/</a></p>
        <p>You can also look at the problems of the past years on our web-site: <br>
            First Season <a href="https://en.lpr-olimp.ru/problems2020">(https://en.lpr-olimp.ru/problems2020)</a> <br>
            Second Season <a href="https://en.lpr-olimp.ru/problems2021">(https://en.lpr-olimp.ru/problems2021)</a> <br>
            Third Season <a href="https://en.lpr-olimp.ru/problems2022">(https://en.lpr-olimp.ru/problems2022).</a> </p>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 2rem;">
            <h1>LPR Cup</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Registration: <a href="https://clck.ru/34AELb">https://clck.ru/34AELb.</a> After the registration you
                will see the links and codes of Google classes where students are supposed to upload their solutions.
            </p>
            <p>The telegram channel: <a href="https://t.me/lprcupworld">https://t.me/lprcupworld.</a> There will be all
                the important announcements from the organizers and the jury. In the same channel, it will be possible
                to communicate with other participants.</p>
            <p>If there is a problem with registration (and this may happen if the number of participants in any of the
                classes exceeds 200 people), then you can ask a question to our e-mail <a
                    href="mailto:phd4mipt@gmail.com">phd4mipt@gmail.com</a></p>
            <p>I kindly ask you to spread this information among all students who love physics and who would be
                interested in it.</p>
            <p>We will start on Saturday, April 22 at 12.00 Moscow time. The participants can join any time.</p>
            <p>I also attach an example of an invitation, in case you do the mailing.</p>
            <p>Thank you very much for your help, <br>
                Leonid Koldunov</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1 id="drzavno-2022">14.05.2022.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5> <a href="https://drive.google.com/drive/folders/1oot6sSCkkqRHPFNki8cj1N3xQzRFP5Gw">КОНАЧНИ
                    РЕЗУЛТАТИ</a> са Државног такмичења. <br>
                <a href="https://drive.google.com/drive/folders/1vkrJK_qInWsra2NXbFPZngqayVj_txBF">Задаци и решења</a>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 2rem;">
            <h1>19.04.2022.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/1%20Poziv%20Drzavno%202022.pdf">Позивно
                    писмо</a> учесницима за Државно такмичење</p>
            <p>Позвани ученици на Државно такмичење из Физике</p>
        </div>
    </div>

    <div class="row" style="align-items: center; justify-content: center;">
        <div class="col-sm-6">
            <table class="table table-hover table-bordered table-responsive text-center">
                <tbody>
                    <tr>
                        <td> <a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/1%20Alfa.pdf">1.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/1%20Beta.pdf">1.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/1%20Gama.pdf">1.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/2%20Alfa.pdf">2.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/2%20Beta.pdf">2.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/2%20Gama.pdf">2.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/3%20Alfa.pdf">3.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/3%20Beta.pdf">3.
                                Бета</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/3%20Gama.pdf">3.
                                Гама</a></td>
                    </tr>
                    <tr>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/4%20Alfa.pdf">4.
                                Алфа</a></td>
                        <td><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/DRZAVNO%202022/Pozvani%20ucenici/4%20Beta.pdf">4.
                                Бета</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 2rem;">
            <h1 id="drzavno-2021">Резултати Државног такмичења 23.04.2021.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Gama_1Raz.pdf">Gama_1Raz</a>
            </p>
            <p> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Gama_2Raz.pdf">Gama_2Raz</a>
            </p>
            <br>
            <p>У табелама за алфа и бета категорију, измене су настале неуношењем свих исправки по жалбама и погрешним
                подвлачењем црта. Измењене дипломе ће бити накнадно одштампане и послате школама.</p>
            <p> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_1A.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_1A</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_1B.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_1B</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_2A.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_2A</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_2B.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_2B</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_3A.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_3A</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_3B.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_3B</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_4A.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_4A</a>
            </p>
            <p><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Rezultati/Konacni_rezultati_Republickog_takmicenja_iz_fizike_4B.pdf">Konacni_rezultati_Republickog_takmicenja_iz_fizike_4B</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 1rem;">
            <h5> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Drugo%20Obavestenje%20DRZAVNO%202021.pdf">Drugo
                    Obavestenje DRZAVNO 2021</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Распоред ученика по учионицама, Прва Крагујевачка Гимназија - Алфа и Бета категорија <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/RasporedPoUcionicama.xlsx">RasporedPoUcionicama</a>
            </p>
            <p>Распоред ученика по учионицама, Природно-математички факултет, Институт за физику - ГАМА категорија <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Raspored%20Po%20Ucionicama%20Gama.pdf">Raspored
                    Po Ucionicama Gama</a></p>
            <p>Распоред учионица у Гимназији <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Raspored%20ucionica%20Gimnazija.xlsx">Raspored
                    ucionica Gimnazija</a> (можете видети распоред учионица по спратности. Дежурно особље ће усмеравати
                ученике)</p>
            <p>Сатница доласка ученика алфа и бета категорије <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/SatnicaGimnazija.xlsx">SatnicaGimnazija</a>
            </p>
            <p>Сатница доласка ученика гама категорија <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/SatnicaGama.xlsx">SatnicaGama</a>
            </p>
            <p>Упутство за писање жалби <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Uputstvo%20za%20ZALBE.pdf">Uputstvo
                    za ŽALBE</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 1rem;">
            <h5> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Prvo%20Obavestenje%20DRZAVNO%202021.pdf">Prvo
                    Obavestenje DRZAVNO 2021</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>КОНАЧНЕ ЛИСТЕ УЧЕНИКА ПОЗВАНИХ НА ДРЖАВНО ТАКМИЧЕЊЕ:</p>
            <p> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Lista%20pozvanih%20na%20drzavno/Alfa.xlsx">Alfa</a>
                &nbsp; <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Lista%20pozvanih%20na%20drzavno/Beta.xlsx">Beta</a>
                &nbsp; <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Lista%20pozvanih%20na%20drzavno/Gama.xlsx">Gama</a>
            </p>
            <p>Молимо наставнике чијим ученицима је потребан превод на језике националних мањина да се јаве путем мејла
                на <b> <a href="mailto:vmarkovic@kg.ac.rs">vmarkovic@kg.ac.rs</a></b> најкасније до 18. априла 2021.</p>
            <p><b>Државно такмичење из физке ученика средњих школа ће се одржати 23. и 24. априла 2021. године у
                    Крагујевцу.</b></p>
            <p><b>Домаћини такмичења ће бити:</b></p>
            <p><b> <a href="https://www.prvagimnazija.edu.rs/">ПРВА КРАГУЈЕВАЧКА ГИМНАЗИЈА</a>, која ће угостити ученике
                    који се такмиче у алфа и бета категорији и</b></p>
            <p> <b><a href="https://www.pmf.kg.ac.rs/">ПРИРОДНО-МАТЕМАТИЧКИ ФАКУЛТЕТ</a>, који ће угостити ученике који
                    се такмиче у гама категорији.</b> </p>
            <p>Информације о хотелском смештају можете наћи на <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SmestajDrzavno.pdf">ЛИНКУ</a></p>
            <p>Информације о детаљима организације Државног такмичења ће бити накнадно објављене. Потребно је
                испланирати све инстанце у складу са препорукама понашања у условима епидемије.</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center" style="padding: 2rem;">
            <h3>Листа позваних ученика према резултатима са окружног такмичења: <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/Alfa.xlsx">Alfa</a> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/Beta.xlsx">Beta</a> <a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/Gama.xlsx">Gama</a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>Број позваних ученика је већи од најављеног, 284 у алфа и бета категорији и 63 у гама категорији, због
                чега ће се такмичење одржати на две локације.</p>
            <p>Листа на основу резултата ОКРУЖНОГ такмичења је коначна.</p>
            <p>Позив ученика по објави коначне листе са окружног такмичења:</p>
            <ul style="list-style-type: disc;">
                <li>Исправка техничке грешке у 1. разреду гама категорије. Дуплирана су имена у оквиру листе позваних
                    ученика. Дупликати су избачени и листа померена за још два ученика: <br>
                    <b>Грујичић Огњен</b>, &nbsp; Средња школа Крупањ, &nbsp;&nbsp;&nbsp; Крупањ <br>
                    <b>Ивана Рађевић</b>, &nbsp;&nbsp;&nbsp; Гимн. "Сава Шумановић", &nbsp; Шид
                </li>
                <li>На основу молбе упућене од стране Окружне комисије пчињског округа и Члана 33 Став 5 позива се
                    <b>Богдан Миленковић</b>, ученик првог разреда гимназије "Бора Станковић" у Врању на Државно
                    такмичење.
                </li>
                <li>На основу молбе упућене од стране наставника ЕТШ "Никола Тесла" у Београду и Члана 33 Став 7, позива
                    се ученик првог разреда <b>Тадија Симић</b> на Државо такмичење.</li>
                <li>На основу молбе упућене од стране предметног наставника ученика, оправдања за немогућност изласка на
                    Окружно такмичење, остварених резултата у прошлој школској години (сребрна медаља на EUPHO2020 и
                    бронзана медаља на IDPHO2020) и Става 34 Правилника, позива се <b>Петар Самарџић</b>, ученик 4.
                    разреда Математичке гимназије у Београду на Државно такмичење.</li>
                <li>На основу молбе Прве крагујевачке гимназије и Става 34 Правилника, позива се ученик 4. разреда
                    одељења обдарених ученика Прве крагујевачке гимназије <b>Лука Миливојевић</b> на Државно такмичење
                    из физике.</li>
                <li>На основу формулисане поставке 4. задатка 3. разреда алфа категорије није могуће наћи тражену
                    фреквенцију. Мост се не може уравнотежити. Како се у делу задатка под б) тражи вредност која је у
                    вези са кружном фреквенцијом у делу задатка под а), грешка утиче и на други део задатка. Свим
                    ученицима 3. разреда у алфа категорији који нису позвани на Државно такмичење се увећава број
                    остварних бодова за разлику до 20 бодова у 4. задатку и на основу Члана 34 позивају се они ученици,
                    који према измењеним бодовима имају 38 или више бодова (што је првенствена граница за позив на
                    Државно такмичење). Листа ученика који се позивају на Државни ниво такмичења по овом основу:</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-bordered table-responsive text-center">
                <thead>
                    <tr>
                        <th>Име и презиме</th>
                        <th>Назив школе</th>
                        <th>Место</th>
                        <th>Име и презиме наставника</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Илија Милошевић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Дејан Ђокић, Јовица Милисављевић</td>
                    </tr>
                    <tr>
                        <td>Милан Гелић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Дејан Ђокић, Јовица Милисављевић</td>
                    </tr>
                    <tr>
                        <td>Марија Гвозденовић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Катарина Матић</td>
                    </tr>
                    <tr>
                        <td>Константин Симијановић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Катарина Матић</td>
                    </tr>
                    <tr>
                        <td>Горана Рудан</td>
                        <td>Гимназија „Ј.Ј.Змај“</td>
                        <td>Нови Сад</td>
                        <td>Горан Штрбац</td>
                    </tr>
                    <tr>
                        <td>Андреј Величков</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Иван Станић</td>
                    </tr>
                    <tr>
                        <td>Лука Царевић</td>
                        <td>Гимназија ''Светозар Марковић''</td>
                        <td>Ниш</td>
                        <td>Јелена Ђорђевић</td>
                    </tr>
                    <tr>
                        <td>Никола Трбољевац</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Ивана Стојиљковић</td>
                    </tr>
                    <tr>
                        <td>Ђорђе Станојевић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Дејан Ђокић, Јовица Милисављевић</td>
                    </tr>
                    <tr>
                        <td>Лазар Петровић</td>
                        <td>Прва крагујевачка гимназија</td>
                        <td>Крагујевац</td>
                        <td>Немања Момчиловић</td>
                    </tr>
                    <tr>
                        <td>Милица Вугделић</td>
                        <td>Математичка гимназија</td>
                        <td>Београд</td>
                        <td>Дејан Ђокић, Јовица Милисављевић</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p style="padding: 2rem;"><b>МОЛИМО ученике и наставнике да НЕ ПИШУ молбе за позиве ученика на основу
                    резултата остварених претходне године, јер резултата није било. Позива по Члану 33 Став 2, 3 и 4
                    НЕЋЕ БИТИ.</b> Број учесника је достигао горњу границу могуће реализације и морате разумети да је
                организација такмичења тешка на начин предвиђена Правилником у току епидемије. Комисија би била
                пресрећна да може позвати све заинтересоване ученике и направити измену Члана 33 Става 2, 3 и 4, али за
                то не постоје могућности.</p>
        </div>
    </div>
</div>

{% endblock content %}