{% extends 'layout.html' %}
{% block title %}Почетна страна{% endblock title %}
{% block content %}

<div class="container-fluid"
    style="background-image: url(/static/images/viber_image_2024-02-20_12-47-14-888.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 85vh;"
    id="container-naslovna">

    <!-- Skolska 2023-2024 -->
    <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
        <div class="col-md-5 text-white" style="background-color: #c94d65; padding: 2rem; border-radius: 30px;">
            <h1>Такмичења из физике ученика средњих школа</h1>
        </div>
    </div>
    <!-- Skolska 2023-2024 -->

    <!-- Main -->
    <div class="row justify-content-md-center" style="padding-bottom: 2rem;" id="main_linkovi_pillshaped_1">
        <div class="col-12 col-md-3 text-center rounded mx-auto"
            style="background-color: white; padding: 2rem; margin: 1rem;" id="naslovna">
            <h3><a href="/vesti">Вести</a></h3>
            <p>У овом одељку ћете наћи вести и
                обавештења везана за такмичења, као и
                резултате такмичења.</p>
        </div>
        <div class="col-12 col-md-3 text-center rounded mx-auto"
            style="background-color: white; padding: 2rem; margin: 1rem;" id="naslovna">
            <h3><a href="/zadaci">Задаци и решења</a></h3>
            <p>У овом одељку ћете наћи архиву
                задатака са решењима који могу да вам
                помогну да се спремите за такмичење,
                од 2000. године до данас.</p>
        </div>
        <div class="col-12 col-md-3 text-center rounded mx-auto"
            style="background-color: white; padding: 2rem; margin: 1rem;" id="naslovna">
            <h3><a href="{{url_for('pravila')}}">Правилници
                    о такмичењима</a></h3>
            <p>Овде ћете наћи правилник о такмичењу и
                календар такмичења за ову годину.</p>
        </div>
    </div>

</div>

{% endblock content %}