{% extends 'layout.html' %}
{% block title %}Почетна страна{% endblock title %}
{% block content %}

<!-- header image -->

<div class="container-fluid d-flex justify-content-center header-image">
    <img src="https://www.df.uns.ac.rs/takmicenjefizikasrednje/images/Zaglavlje.jpg" alt="">
</div>

<!-- header image -->

<!-- Main -->
<div class="container-fluid">
    <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
        <div class="col-sm-4">
            <h1>Такмичења из физике<br>
                ученика средњих школа</h1>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-sm-3 text-center">
            <h3><a href="">Вести</a></h3>
            <p>У овом одељку ћете наћи вести и
                обавештења везана за такмичења, као и
                резултате такмичења.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h3><a href="">Задаци и решења</a></h3>
            <p>У овом одељку ћете наћи архиву
                задатака са решењима који могу да вам
                помогну да се спремите за такмичење,
                од 2000. године до данас.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h3><a href="">Правилници о такмичења</a></h3>
            <p>Овде ћете наћи правилник о такмичењу и
                календар такмичења за ову годину.</p>
        </div>
    </div>
    <!-- Main -->

    <!-- Najnovije -->
    <div class="container-fluid">
        <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
            <div class="col-sm-4">
                <h1>Најновије</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4>Резултати Општинског такмичења
                    (07.02.2024.)</h4>
                <p>Статистика резултата са општинског такмичења показују да су задаци били претешки за ученике
                    (видети на страници Општинско). Зато молимо све Окружне комисије да спусте границе пролаза на
                    Окружно такмичење до разумне мере и, по могућности, позову што више ученика на следећи ниво
                    такмичења.</p>
                <p>Организатори Окружног такмичења се налазе у Табели (подаци са сајта Министарства). Молимо да
                    благовремено пријавите допуну/измену овог списка са реалним Организаторима, слањем података које
                    се налазе у Табели на мејл takmicenje@df.uns.ac.rs (уколико је школа домаћин био организатор и
                    Општинског, довољно је пријавити само име школе и града).</p>
            </div>
            <div class="col text-center">
                <h4>Општинско такмичење
                    04.02.2024.</h4>
                <p>Задаци и решења са Општинског такмичења се налазе на страници ОПШТИНСКО
                    Молбе за позивање на Окружно такмичење (молба) по члану 33. се шаљу до 13.02.2024. електронски
                    (скенирана или усликана потписана молба), на мејл takmicenje@df.uns.ac.rs</p>
            </div>
            <div class="col text-center">
                <h4>Општинско такмичење
                    24.01.2024.</h4>
                <p>Сви ученици који желе да учествују на такмичењима, пре почетка Општинског такмичења лично, или
                    родитељи за малолетне ученике, морају потписати Изјаву о сагласности за јавно објављивање
                    података, неопходних за регуларно одржавање такмичења. Изјава се чува у школској документацији
                    школе коју ученик похађа. </p>
                <p>Обавештење Организаторима. Задаци се шаљу на мејл адресе из Табеле пријављених Организатора два
                    сата пре почетка такмичења.</p>
                <p>Табеле за слање извештаја са Општинског нивоа за Алфа/Бета и Гама категорију. </p>
            </div>
        </div>
        <!-- Najnovije -->

        <!-- Takmicenja -->
        <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
            <div class="col-sm-4">
                <h1>Задаци и решења</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4>Такмичење 2023</h4>
                <ul>
                    <a href="">Општинско такмичење</a>
                    <a href="">Окружно такмичење</a>
                    <a href="">Републичко такмичење</a>
                    <a href="">Српсkа физичка олимпијада</a>
                </ul>
            </div>
            <div class="col text-center">
                <h4>Такмичење 2022</h4>
                <ul>
                    <a href="">Општинско такмичење</a>
                    <a href="">Окружно такмичење</a>
                    <a href="">Републичко такмичење</a>
                    <a href="">Српсkа физичка олимпијада</a>
                </ul>
            </div>
            <div class="col text-center">
                <h4>Такмичење 2021</h4>
                <ul>
                    <a href="">Општинско такмичење</a>
                    <a href="">Окружно такмичење</a>
                    <a href="">Републичко такмичење</a>
                    <a href="">Српсkа физичка олимпијада</a>
                </ul>
            </div>
            <!-- Takmicenja -->

            <!-- <div class="row justify-content-md-center text-center" style="padding: 2rem 0 2rem 0;">
            <div class="col-sm-4">
                <h1>Takmičenja iz fizike <br>
                    učenika srednjih škola</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <a href="">Vesti</a>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col col-lg-2">
                <a href="">Pravilnici o takmicenja</a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-3">
                <h3>Takmicenje 2023</h3>
                <ul>
                    <a href="">Link 1</a>
                    <a href="">Link 2</a>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Takmicenje 2022</h3>
                <ul>
                    <a href="">Link 1</a>
                    <a href="">Link 2</a>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Takmicenje 2021</h3>
                <ul>
                    <a href="">Link 1</a>
                    <a href="">Link 2</a>
                </ul>
            </div>
        </div> -->

        </div>
        {% endblock content %}