{% extends 'layout.html' %}
{% block title %}Почетна страна{% endblock title %}
{% block content %}

<div class="container-fluid">

    <!-- Skolska 2023-2024 -->
    <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
        <div class="col-sm-4">
            <h1>Школска 2023-2024 година</h1>
        </div>
    </div>
    <!-- Skolska 2023-2024 -->

    <!-- Main -->
    <div class="row justify-content-md-center" style="padding-bottom: 2rem;" id="main_linkovi_pillshaped">
        <div class="col-sm-3 text-center">
            <h3><a href="/vesti">Вести</a></h3>
            <p>У овом одељку ћете наћи вести и
                обавештења везана за такмичења, као и
                резултате такмичења.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h3><a href="/zadaci">Задаци и решења</a></h3>
            <p>У овом одељку ћете наћи архиву
                задатака са решењима који могу да вам
                помогну да се спремите за такмичење,
                од 2000. године до данас.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h3><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Pravilnik%20o%20takmicenjima%20iz%20fizike%20ucenika%20srednjih%20skola%20-%202023.pdf">Правилници
                    о такмичења</a></h3>
            <p>Овде ћете наћи правилник о такмичењу и
                календар такмичења за ову годину.</p>
        </div>
    </div>
    <!-- Main -->

    <!-- Vazna dokumenta -->
    <div class="card">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Важна документа:</h1>
                </div>
            </div>
            <div class="row" style="padding: 2rem; align-items: center; justify-content: center;">
                <div class="col col-sm-6">
                    <table class="table table-hover table-bordered table-responsive">
                        <tbody>
                            <tr>
                                <td class="align-middle"> <b>Правилник такмичења</b> </td>
                                <td><a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Pravilnik%20o%20takmicenjima%20iz%20fizike%20ucenika%20srednjih%20skola%20-%202023.pdf"><img
                                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>Календар такмичења 2022</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Kalendar_takmicenja_2022.pdf"><img
                                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>Наставни програм такмичења Алфа и Бета категорије</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/PlanTakmicenja2021.pdf"><img
                                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>Наставни програм такмичења Гама категорије</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Gama%20program%20-%202024.pdf"><img
                                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>ИЗЈАВА - лични подаци</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izjava%202024.pdf"><img
                                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>Извештај са такмичења Алфа и Бета</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20AB.xlsx"><img
                                            src="{{ url_for('static', filename='images/icons8-excel.svg') }}"
                                            alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"> <b>Извештај са такмичења Гама категорија</b> </td>
                                <td>
                                    <a class="link-with-pdf-icon"
                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20Gama.xlsx"><img
                                            src="{{ url_for('static', filename='images/icons8-excel.svg') }}"
                                            alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle"><b>Задаци
                                        са претходних такмичења</b></td>
                                <td><a class="link-with-pdf-icon"
                                        href="https://drive.google.com/drive/folders/1-VdVYddOYK-NjW9OgsWzxLs7Cw54bq0B?usp=sharing"><img
                                            src="/static/images/new-logo-drive-google.svg" alt=""></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><b>Такмичења ранијих
                                        година</b></td>
                                <td><a class="link-with-pdf-icon" href="http://takmicenja.ipb.ac.rs/"><img
                                            src="/static/images/icons8-chrome.svg" alt=""></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Vazna dokumenta -->

    <!-- Najnovije -->
    <div class="container-fluid">
        <div class="row justify-content-md-center text-center" style="padding: 3rem 0 1rem 0;">
            <div class="col-sm-4">
                <h1>Најновије</h1>
            </div>
        </div>
        <!-- Najnovije -->

        <!-- Carousel -->
        <div class="container">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel"
                style="font-size: larger; font-style: bold;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/najnovije/IMG_20230718_181411.jpg"
                            class="d-block w-100 img-fluid mx-auto" alt="">
                        <div class="carousel-caption carousel-caption-bottom">
                            <h5>IPhO 2024 Tokio Japan</h5>
                            <p>Сви наши такмичари су освојили по бронзану медаљу на светској Олимпијади из физике IPhO
                                2024, која је одржана у Токију у Јапану од 10-17. јула 2023. године.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/najnovije/Tim Srbije.png" class="d-block img-fluid w-60 mx-auto" alt=""
                            id="imgbr2">
                        <div class="carousel-caption carousel-caption-bottom">
                            <h5>У екипи Србије су учествовали:</h5>
                            <p>Тадија Јелесијевић, Тадеј Ристић, Вук Хип, Сава Тодоровић и Ђорђе Паројчић.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/najnovije/IMG_20230718_122238.jpg" class="d-block w-100 mx-auto" alt=""
                            class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/najnovije/IMG_20230718_181027.jpg" class="d-block w-100 mx-auto" alt=""
                            class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel -->

        <!-- Najnovije -->
        <div class="row" style="padding: 1rem;">
            <div class="col" style="text-align: left;">
                <h4 class="text-center">Општинско такмичење
                    14.02.2024.</h4>
                <p style="padding: 0 1rem 0 1rem;"> Списак <b>позваних ученика</b> на Окружно такмичење се налази на
                    страници
                    <b><a href="/okruzno">ОКРУЖНО.</a></b>
                </p>
            </div>
            <div class="col" style="text-align: left;">
                <h4 class="text-center">Резултати Општинског такмичења
                    (07.02.2024.)</h4>
                <p style="padding: 0 1rem 0 1rem;"><b>Статистика резултата</b> са општинског такмичења показују да су
                    задаци
                    били претешки за ученике
                    (видети на страници Општинско). Зато молимо све Окружне комисије да спусте границе пролаза на
                    Окружно такмичење до разумне мере и, по могућности, позову <b>што више ученика</b> на следећи ниво
                    такмичења.</p>
                <p style="padding: 0 1rem 0 1rem;"><b>Организатори Окружног такмичења</b> се налазе у <b><a
                            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno%2024/OKRUZNO%20organizatori%2024.pdf">Табели</a></b>
                    (подаци са сајта
                    Министарства). Молимо да
                    благовремено пријавите допуну/измену овог списка са реалним Организаторима, слањем података које
                    се налазе у Табели на мејл <b><a
                            href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a></b> (уколико је школа
                    домаћин био организатор и
                    Општинског, довољно је пријавити само име школе и града).</p>
            </div>
            <div class="col" style="text-align: left;">
                <h4 class="text-center">Општинско такмичење
                    04.02.2024.</h4>
                <p style="padding: 0 1rem 0 1rem;"><b>Задаци и решења</b> са Општинског такмичења се налазе на страници
                    ОПШТИНСКО. <br>
                    <b>Молбе за позивање</b> на Окружно такмичење <b><a
                            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Molba%20za%20pozivanje%20na%20Okruzno%202024.pdf">(молба)</a></b>
                    по члану 33. се шаљу до 13.02.2024. електронски
                    (скенирана или усликана потписана молба), на мејл <b><a
                            href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a></b>.
                </p>
            </div>
        </div>
        <!-- Najnovije -->

        <div class="container">
            <!-- Takmicenja -->
            <div class="row justify-content-md-center text-center" style="padding: 2rem;">
                <div class="col-sm-4">
                    <h1>Задаци и решења</h1>
                </div>
            </div>
            <div class="container">
                <div class="row" id="main_linkovi_pillshaped2">
                    <div class="col text-center" id="takmicenja">
                        <h4>Такмичење 2023</h4>
                        <ul>
                            <a href="/opstinsko#opstinsko-2022-2023">Општинско такмичење</a>
                            <a href="">Окружно такмичење</a>
                            <a href="/drzavno#drzavno-2023">Републичко такмичење</a>
                            <a href="/sfo#sfo-2023">Српсkа физичка олимпијада</a>
                        </ul>
                    </div>
                    <div class="col text-center" id="takmicenja">
                        <h4>Такмичење 2022</h4>
                        <ul>
                            <a href="/opstinsko#opstinsko-2022">Општинско такмичење</a>
                            <a href="">Окружно такмичење</a>
                            <a href="/drzavno#drzavno-2022">Републичко такмичење</a>
                            <a href="/sfo#sfo-2022">Српсkа физичка олимпијада</a>
                        </ul>
                    </div>
                    <div class="col text-center" id="takmicenja">
                        <h4>Такмичење 2021</h4>
                        <ul>
                            <a href="/opstinsko#opstinsko-2021">Општинско такмичење</a>
                            <a href="">Окружно такмичење</a>
                            <a href="/drzavno#drzavno-2021">Републичко такмичење</a>
                            <a href="/sfo#sfo-2021">Српсkа физичка олимпијада</a>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Takmicenja -->
        </div>

        <!-- Pravlinici o takmicenja -->
        <div class="row justify-content-md-center text-center" style="padding: 3rem 0 1rem 0;">
            <div class="col-sm-4">
                <h1>Правилници о такмичења</h1>
            </div>
        </div>
        <div class="row justify-content-md-center text-center" style="padding: 0rem 0 0rem 0;">
            <div class="col-sm-8">
                <h4>Објашњење за члан 33. Правилника</h4>
                <p>Молимо све ученике и наставнике да пажљиво прочитају члан 33. Правилника такмичења, зато што круже
                    разне варијанте везане за пролазак и пласирење на следећи ниво такмиченја (непотребно изостављено):
                </p>
                <h4>члан 33.</h4>
                <p>(1) Ученик који из <b>објективних разлога</b> (болест, друга такмичења и сл.) није учествовао на
                    општинском
                    такмичењу или на основу резултата са општинског такмичења није изборио пласман на окружно стиче
                    право учешћа на окружном такмичењу уколико је у претходној школској години учествовао на државном
                    такмичењу. <br>
                    (4) Неко од права из претходна три става овог члана ученик <b>у току школске године може користити
                        највише једном</b> и то само под условом да се у текућој школској години такмичи у разреду и
                    категорији
                    којима припада по разреду и одељењу које похађа. <br>
                    (7) <b>Рок за подношење молби је 5 дана</b> од утврђивања и објављивања списка претходног нивоа
                    такмичења. Да би ученик био позван на такмичење по овом члану, потребно је да <b>упути молбу
                        државној
                        комисији</b>.
                </p>
            </div>
        </div>
        <!-- Pravlinici o takmicenja -->

        <!-- Skolska 2022-2023 -->
        <div class="row justify-content-md-center text-center" style="padding: 3rem 0 3rem 0;">
            <div class="col-sm-4">
                <h1>Школска 2022-2023 година</h1>
            </div>
        </div>
        <!-- Skolska 2022-2023 -->

        <!-- SFO -->
        <div class="container-fluid">
            <div class="row text-center">
                <h3>СФО</h3>
                <div class="col-md-8" id="sfo1">
                    <img src="/static/images/najnovije/MIR_8135.jpg" alt="" class="img-fluid" width="100%">
                </div>
                <div class="col-md-4 d-flex flex-column" style="align-items: center; justify-content: center;"
                    id="sfo2">
                    <h5 style="margin-bottom: 1.5rem;">Коначни резултати за Алфа, Бета и Гама категорију су објављени на
                        страници Државно.</h5>
                    <h5 style="margin-bottom: 1.5rem;">Списак позваних ученика и информације о одржавању СФО се налаза
                        на страници СФО.</h5>
                    <h5 style="margin-bottom: 1.5rem;">На републичком семинару ће се моћи преузети дипломе са Државног
                        такмичења.</h5>
                </div>
            </div>
        </div>
        <!-- SFO -->



    </div>
</div>
{% endblock content %}