{% extends 'layout.html' %}
{% block title %}Контакт{% endblock title %}
{% block content %}

    <div class="container-fluid">
        <div class="row text-center" style="padding: 2rem;">
            <div class="col">
                <h2>Контакт</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h4>Председник комисије: <strong>Проф. др Имре Гут</strong></h4>
            </div>
        </div>
        <div class="row text-center" style="padding: 2rem;">
            <div class="col">
                <h4>Mејл адреса: takmicenje@df.uns.ac.rs</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h4>Гама Категорија: <strong>Проф. др Братислав Обрадовић,</strong> obrat@ff.bg.ac.rs</h4>
            </div>
        </div>
        <div class="row text-center" style="padding: 2rem;">
            <div class="map-container">
                <div class="col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11320.482514292906!2d20.459502!3d44.8191071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7ab35e1dbefd%3A0xa4c480a3d0ec2bc7!2z0JTRgNGD0YjRgtCy0L4g0KTQuNC30LjRh9Cw0YDQsCDQodGA0LHQuNGY0LU!5e0!3m2!1sen!2srs!4v1707834679751!5m2!1sen!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}