{% extends 'layout.html' %}
{% block title %}Окружно{% endblock title%}

{% block content %}

<div class="container pt-5">
    <div class="row">
        <div class="col text-center" style="padding: 0 0 2rem 0;">
            <h1 id="okruzno-2023">Окружно 2023</h1>
        </div>
    </div>

    <div class="row">
        <div class="row text-center">
            <h1>Школска 2023-24 година </h1>
        </div>

        <div class="row center-text-smaller-screen">
            <p>Списак <b>позваних ученика</b> на Окружно такмичење по члану 33. је <b><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno%2024/Molbe%20za%20poziv%2024%20Okruzno.pdf">ОВДЕ.</a></b>
            </p>
            <p><b>Организатори</b> Окружног такмичења се налазе <b><a
                    href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno%2024/OKRUZNO%20organizatori%2024.pdf">ОВДЕ.</a></b>
            </p>
        </div>
    </div>

    <div class="row text-center">
        <h1 id="okruzno-2022">Школска 2022-23 година </h1>
    </div>

    <p>
        Жалбе са Окружног такмичења су решене и корекције су унете у Табеле. Накнадно пристигле жалбе нису разматране.
    </p>

    <p>
        <b>Спискови збирних резултата</b> и <b>ученика позваних на Државно такмичење</b> се налазе у Табели доле
    </p>

    <table class="table border">
        <tbody>
            <tr>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/1%20Alfa.pdf">1
                        Алфа</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/1%20Beta.pdf">1
                        Бета</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/1%20Gama.pdf">1
                        Гама</a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/2%20Alfa.pdf">2
                        Алфа</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/2%20Beta.pdf">2
                        Бета</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/2%20Gama.pdf">2
                        Гама</a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/3%20Alfa.pdf">3
                        Алфа</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/3%20Beta.pdf">3
                        Бета</a>
                </th>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/3%20Gama.pdf">3
                        Гама</a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/4%20Alfa%20.pdf">4
                        Алфа</a>
                </th>
                <th colspan="2">
                    <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/4%20Beta.pdf">4
                        Бета</a>
                </th>
            </tr>
        </tbody>
    </table>
    <p class="center-text-smaller-screen">
        <b><a href="https://drive.google.com/drive/folders/1e8kt5xtPujII7GFcRXKYD4d6xZUdYbFF">Спискови позваних ученика</a></b>
        на Окружно такмичење који су стигли дo сада су видљиви на Гугл-драјву.
    </p>

    <p class="center-text-smaller-screen">
        Дo сaдa приjaвљeни <b><a
            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/OKRUZNO%202022/OKRUZNO%20organizatori.pdf">oргaнизaтoри
            Oкружнoг Taкмичeњa.</a></b>
    </p>

    <p class="center-text-smaller-screen">
        <b>Жалбе на резултате</b> прегледа радова са Окружног такмичења се шаљу Окружној комисији, на <b><a
            href="../static/images/okruzno/Okruzno Zalba Komisiji.doc">ОБРАСЦУ</a></b> (послати папирну
        верзију, или испуњену електронску верзију у Word фајлу, или скениран/сликан фајл одштампане и испуњене папирне
        верзије у PDF, JPG или неком другом формату слике). Према Члану 25, став 5. Правилника, жалба се упућује
        председнику комисије у року од 2 дана од завршетка такмичења.
    </p>
    <p class="center-text-smaller-screen">
        Молимо ОКРУЖНЕ Комисије да позову што већи број такмичара на окружни ниво у складу са Правилником такмичења
        ученика средњих школа
    </p>

    <p class="center-text-smaller-screen">
        Moлим Oкружнe Кoмисиje дa слeдeћe учeникe и учeникe, чиje мoлбe стигну кoд њих, прикључe списку зa Oкружнo
        тaкмичeњe (oдoбрeњa пo члaну 33. Прaвилникa) <b><a
            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko_2022/Pozvati%20na%20okruzno.JPG">ОВДЕ</a></b>
    </p>

    <p class="center-text-smaller-screen">
        Молим <b>Окружне комисије</b> и <b>Подружнице</b> да <b>спискове ученика</b> позваних на Окружно такмичење
        поставе на
        Гугл-драјв.
        Назив фајла (Excel, Word, PDF) треба да садржи Округ (или град) и категорије. Фајлови се могу једноставно
        "превући" у директоријум који се отвора на линку који је активан на тачки на крају ове реченице. Фајлове ћемо на
        дневном нивоу пребацивати у фолдер (Vidljiv spisak) који је видљив свима са стрима.
    </p>
</div>

{% endblock content %}