{% extends 'layout.html' %}
{% block title %}Општинско задаци{% endblock title %}
{% block content %}

<div class="container" style="padding: 2rem 0 2rem 0;">

    <h1 class="text-center">Општинско такмичење - задаци</h1>

    {% for godina in godine %}
    <div class="container text-center">
        <h1 id="opstinsko-{{godina}}">{{godina}}</h1>
    </div>
    <div class="container" style="padding: 2rem; display: flex; align-items: center; justify-content: center;">
        <div class="col-md-6">
            <table class="table table-hover align-middle">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <h1>Алфа</h1>
                        </td>
                    </tr>
                    {% for a in alfa %}
                    {% if godina in a['name'] %}
                    <tr class="">
                        <td>{{a['name']}}</td>
                        <td style="width: 10%;"><a class="link-with-pdf-icon" href="{{a['link']}}"><img
                                    src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <h1>Бета</h1>
                        </td>
                    </tr>
                    {% for b in beta %}
                    {% if godina in b['name'] %}
                    <tr class="">

                        <td>{{b['name']}}</td>
                        <td style="width: 10%;"><a class="link-with-pdf-icon" href="{{b['link']}}"><img
                                    src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <h1>Гама</h1>
                        </td>
                    </tr>
                    {% for g in gama %}
                    {% if godina in g['name'] %}
                    <tr class="">

                        <td>{{g['name']}}</td>
                        <td style="width: 10%;"><a class="link-with-pdf-icon" href="{{g['link']}}"><img
                                    src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <h1>Остало</h1>
                        </td>
                    </tr>
                    {% for o in ostalo %}
                    {% if godina in o['name'] %}
                    <tr class="">
                        <td>{{o['name']}}</td>
                        <td style="width: 10%;"><a class="link-with-pdf-icon" href="{{o['link']}}"><img
                                    src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
