{% extends 'layout.html' %}
{% block title %}Опште информације{% endblock title %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center" style="padding: 2rem;">
                <h1>Категорије:</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-8 justify-content-center align-items" style="align-items: center; display: flex; font-size: large;">
               <ol>
                <strong><li>Алфа:</strong> ученици који похађају одељења која раде по програмима специјализованих гимназија за област математика и физика такмиче се искључиво у алфа категорији.</li> <br>
                <li><strong>Бета:</strong> ученици који похађају одељења која раде по програмима гиманзије природно-математичког смера и специјализованих гимназија из области природних наука и информатике (области које нису математика и физика) такмиче се у бета категорији. Могућност преласка у алфа категорију регулисано је на начин дефинисан у Члану 7 Правилника о такмичењу.</li><br>
                <li><strong>Гама:</strong> ученици који похађају одељења која раде по програмима гимназија општег типа, гимназија друштвено-језичког смера и специјализованих филолошких гимнaзија, средњих стручних школа и уметничких школа могу да изаберу да ли ће се такмичити у бета или гама категорији. Категорију бирају на општинском нивоу такмичења. Само ученици који су изабрали бета категорију могу на каснијим нивоима такмичења прећи у алфа категорију на начин дефинисан у Члану 7 Правилника о такмичењу.</li>
               </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-center" style="padding: 2rem;">
                <h1>Опште информације:</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-8 justify-content-center align-items text-left" style="align-items: center; font-size: large;">
                <ol>
                    <li><strong>Циљеви због којих се организују такмичења ученика средњих школа су:</strong>
                        <ul class="text-left" style="list-style-type: disc; text-align: left; display: block; padding-left: 2rem;">
                            <li>популаризација физике међу ученицима средњих школа,</li>
                            <li>подизање квалитета образовно-васпитног рада,</li>
                            <li>проналажење ученика надарених за физику и њихово усмеравање ка физици или другим природним наукама,</li>
                            <li>афирмација наставника са нарочитим способностима у образовном и васпитном раду,</li>
                            <li>мотивисање ученика да продубљују своја знања из физике,</li>
                            <li>усмеравање пажње јавности на вредне ученике и наставнике,</li>
                            <li>промовисање система вредности у коме се цене знање и рад,</li>
                            <li>поспешивање дружења између ученика сличних интересовања.</li>
                        </ul>
                    </li>
                    <br>
                    <li><strong>Општинска и окружна такмичења спроводе комисије које формирају одговарајуће подружнице Друштва, активисти Друштва и одговорна лица у одељењима Министарства.</strong></li>
                    <br>
                    <li><strong>Државно такмичење спроводи Комисија за такмичења ученика средњих школа Друштва.</strong></li>
                    <br>
                    <li><strong>Техничку организацију свих такмичења врши школа, односно виша школа, научни институт или факултет - домаћин такмичења уз помоћ комисије која организује такмичење, подружнице Друштва и одговорних лица у одељењима Министарства.</strong></li>
                </ol>
            </div>    
        </div>
    </div>

    {% endblock %}