{% extends 'layout.html' %}
{% block title %}Општинско{% endblock title %}
{% block content %}

<div class="container">
        <!-- <div class="row">
                <div class="col text-center" style="padding: 2rem;">
                        <h1 id="drzavno-2023">Општинско 2023</h1>
                </div>
        </div> -->
        <div class="row justify-content-md-center text-center" style="padding: 1rem 0 3rem 0;">
                <div class="col-sm-4">
                        <h1 id="opstinsko-2022-2023">Школска 2023-2024 година</h1>
                </div>
        </div>

        <div class="row">
                <div class="col">
                        <h3>
                                Статистика резултата са општинског такмичења одржаног 04.02.2024. године
                        </h3>
                </div>
        </div>
        <div class="row">
                <div class="col">
                        <p>Графици показују колико је ученика, по разреду и категорији, освојио одређен број бодова.
                                (Ако се не види
                                легенда, на графицима су плави стубови за Алфа а црвени за Бета категорију). Обрађени
                                подаци од 764
                                ученика.</p>
                </div>
        </div>
        <div class="row">
                <div class="col">
                        <img src="/static/images/Statistika1.png" alt="" class="img-fluid">
                </div>
        </div>

        <div class="row">
                <div class="col text-center" style="padding: 2rem;">
                        <h3>ЗАДАЦИ и РЕШЕЊА са Општинског такмичења из физике одржаног 04.02.2024.</h3>
                </div>
        </div>
        <div class="row table-responsive">
                <div class="col-md-6 mx-auto">
                        <table class="table table-hover table-bordered table-responsive text-center">
                                <thead>
                                        <th>Категорија задатака</th>
                                        <th>1. разред</th>
                                        <th>2. разред</th>
                                        <th>3. разред</th>
                                        <th>4. разред</th>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td>Алфа задаци</td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/1%20Op%202024%20Alfa.pdf">1А</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/2%20Op%202024%20Alfa.pdf">2А</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/3Op%202024%20Alfa.pdf">3А</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/4%20Op%202024%20Alfa.pdf">4А</a></b>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Алфа решења</td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/1%20Op%202024%20Alfa%20resenja.pdf">1А-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/2%20Op%202024%20Alfa%20resenje.pdf">2А-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/3%20Op%202024%20Alfa%20resenje.pdf">3А-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/4%20Op%202024%20Alfa%20resenja.pdf">4А-р</a></b>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Бета задаци</td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/1%20Op%202024%20Beta.pdf">1Б</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/2%20Op%202024%20Beta.pdf">2Б</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/3Op%202024%20Beta.pdf">3Б</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/4%20Op%202024%20Beta.pdf">4Б</a></b>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Бета решења</td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/1%20Op%202024%20Beta%20resenja.pdf">1Б-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/2%20Op%202024%20Beta%20resenje.pdf">2Б-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/3%20Op%202024%20Beta%20resenje.pdf">3Б-р</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/4%20Op%202024%20Beta%20resenja.pdf">4Б-р</a></b>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Гама</td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/Opstinsko%202024%201.%20Razred%20-%20sa%20resenjima.pdf">1Г</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/Opstinsko2024_2.%20razred-sa%20resenjima.pdf">2Г</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/Opstinsko2024_%203.%20razred-sa%20resenjima.pdf">3Г</a></b>
                                                </td>
                                                <td><b><a
                                                                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Zadaci%20i%20resenja/Opstinsko2024_%204.Razred%20-%20sa%20resenjima.pdf">4Г</a></b>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                        <p><b><a href="https://drive.google.com/drive/folders/15Wf7sqC6QvJe6nLAuWKokta7z4qeA_8L?usp=sharing">Извештаји</a></b>
                        </p>
                </div>
        </div>

        <!-- <div class="row">
                <div class="col text-center" style="padding-top: 2rem;">
                        <h1>2023. година</h1>
                </div>
        </div>
        <div class="row">
                <div class="col" style="padding: 1rem;">
                        <p><b>Задаци и решења</b> са Општинског Такмичења се могу видети на:</p>
                        <p> <b><a href="https://drive.google.com/drive/folders/1oJTDxmRF4-xzloPtmg3UwCeABwaDSEsY?usp=sharing">Google
                                                Drive</a></b></p>
                </div>
        </div>
        <div class="row">
                <div class="col" style="padding-bottom: 2rem;">
                        <h1 class="text-center" id="opstinsko-2022">Послати ИЗВЕШТАЈИ са Општинског такмичења 2022.</h1>
                        <p> <b><a href="https://drive.google.com/drive/folders/1cnc5YD6ggz8IpED7l5SpQlc0oGROY4jx?usp=sharing">Google
                                                Drive</a></b></p>
                </div>
        </div>

        <div class="row table-responsive">
                <div class="col">
                        <p>Број ученика који су изашли на ОПШТИНСКО такмичење</p>
                        <div class="col-md-6 mx-auto">
                                <table class="table table-hover table-bordered table-responsive text-center">
                                        <thead>
                                                <tr>
                                                        <th>Разред</th>
                                                        <th>Алфа</th>
                                                        <th>Бета</th>
                                                        <th>Гама</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>I</td>
                                                        <td>92</td>
                                                        <td>228</td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td>II</td>
                                                        <td>60</td>
                                                        <td>118</td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td>III</td>
                                                        <td>49</td>
                                                        <td>78</td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td>IV</td>
                                                        <td>24</td>
                                                        <td>54</td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td><b>Сума</b></td>
                                                        <td>225</td>
                                                        <td>478</td>
                                                        <td></td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                        <p>Молимо ОКРУЖНЕ Комисије да позову што већи број такмичара на окружни ниво у складу са
                                правилником
                                такмичења ученика средњих школа</p>
                        <p>Списак позваних ученика на Окружно такмичење је премештен у Окружно</p>
                        <p>Пријављени <b><a
                                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/OPSTINSKO%20organizatori.pdf">ДОМАЋИНИ</a></b>
                                за
                                Општинско такмичење</p>
                </div>
        </div>

        <div class="row">
                <div class="col text-center" style="padding: 2rem;">
                        <h1 id="opstinsko-2021">2021: Извештаји ОПШТИНСКОГ такмичења из физике ученика средњих школа за
                                2021. годину</h1>
                </div>
        </div>
        <div class="row table-responsive">
                <div class="col-md-8 mx-auto">
                        <table class="table table-hover table-bordered text-center align-middle"
                                id="tabela-sa-gradovima" style="font-weight: bold;">
                                <tbody>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Aleksinac%20Alfa%20Beta.xls">Aleksinac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Lubovija%20Beta.xls">Ljubovija
                                                                Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Subotica%20Alfa%20Beta.xls">Subotica
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Apatin%20Gama.xlsx">Apatin
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Mladenovac%20Alfa%20Beta.xls">Mladenovac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Svilajnac%20Alfa%20Beta.xls">Svilajnac
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Arandjelovac%20Alfa%20Beta.xls">Aranđelovac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Negotin%20Alfa%20Beta.xls">Negotin
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Svilajnac%20Gama.xlsx">Svilajnac
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Bajina%20Basta%20Alfa%20Beta.xls">Bajina
                                                                Bašta Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Nis%20Alfa%20Beta%20Gama.xls">Niš
                                                                Alfa Beta Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Trstenik%20Alfa%20Beta.xls">Trstenik
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20%20Stari%20Grad%20Alfa%20Beta.xls">Beograd
                                                                Stari Grad Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Nova%20Varos%20Alfa%20Beta.xls">Nova
                                                                Varoš Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Valjevo%20Alfa%20Beta.xls">Valjevo
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Cukarica%20i%20Rakovica%20Alfa%20Beta.xls">Beograd
                                                                Čukarica i Rakovica Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Becej%20Gama.xlsx">Novi
                                                                Bečej Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Vranje%20Alfa%20Beta.xls">Vranje
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Palilula%20Alfa%20Beta.xls">Beograd
                                                                Palilula Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Pazar%20Alfa%20Beta.xls">Novi
                                                                Pazar Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Vrsac%20Alfa%20Beta.xls">Vršac
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Palilula%20Gama.xlsx">Beograd
                                                                Palilula Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Pazar%20Gama.xlsx">Novi
                                                                Pazar Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Zabalj%20Beta%20Gama.xls">Žabalj
                                                                Beta Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Palilula%20Kosta%20MIhajlovic.docx">Beograd
                                                                Palilula Kosta Mihajlović</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Sad%20Alfa%20Beta.xls">Novi
                                                                Sad Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Zajecar%20Alfa%20Beta.xls">Zaječar
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Vozdovac%20Alfa%20Beta.xls">Beograd
                                                                Voždovac Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Pancevo%20Alfa%20Beta%20Gama.xls">Pančevo
                                                                Alfa Beta Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Zrenjanin%20Alfa%20Beta.xls">Zrenjanin
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Beograd%20Zverdara%20Alfa%20Beta.xlsx">Beograd
                                                                Zvezdara Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Paracin%20Alfa%20Beta.xls">Paraćin
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Zubin%20Potok%20%20Alfa%20Beta.xls">Zubin
                                                                Potok Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Bor%20Alfa%20Beta.xls">Bor
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Paracin%20Gama.xls">Paraćin
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Zubin%20Potok%20Gama.xls">Zubin
                                                                Potok Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Cacak%20Beta.xls">Čačak
                                                                Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Pirot%20Alfa%20Beta%20Gama.xls">Pirot
                                                                Alfa Beta Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Beograd%20Alfa%20i%20Beta.xls">Novi
                                                                Beograd Alfa i Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Cuprija%20Alfa%20Beta.xls">Ćuprija
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Pozarevac%20Alfa%20Beta.xls">Požarevac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Novi%20Beograd%20Gama.xlsx">Novi
                                                                Beograd Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Cuprija%20Gama.xlsx">Ćuprija
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Pozarevac%20Gama.xlsx">Požarevac
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Uzice%20Alfa%20Beta.xls">Užice
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Dimitrovgrad%20Alfa%20Beta.xls">Dimitrovgrad
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/POZEGA%20Alfa%20Beta.xls">Požega
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Pristina%20Gama.xlsx">Priština
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Gornji%20Milanovac%20Alfa%20Beta.xls">Gornji
                                                                Milanovac Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/POZEGA%20Gama.xlsx">Požega
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Indjija%20Alfa%20Beta.xls">Inđija
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Presevo%20Alfa%20Beta.xls">Preševo
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Ivanjica%20Alfa%20Beta.xls">Ivanjica
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/PRIJEPOLJE%20Alfa%20Beta.xls">Prijepolje
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Jagodina%20Alfa%20Beta.xls">Jagodina
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Priluzje%20Gama.xlsx">Prilužje
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kikinda%20Alfa%20Beta.xls">Kikinda
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Prokuplje%20Beta.xls">Prokuplje
                                                                Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kosovska%20Mitrovica%20Gama.xls">Kosovska
                                                                Mitrovica Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Raca%20Gama.xlsx">Rača
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kragujevac%20Alfa%20Beta.xls">Kragujevac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Raska%20Alfa%20Beta.xls">Raška
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kragujevac%20Gama.xlsx">Kragujevac
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sabac%20Alfa%20Beta.xls">Šabac
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kraljevo%20Alfa%20Beta.xls">Kraljevo
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Senta%20Alfa%20Beta.xls">Senta
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Krupanj%20Alfa%20Beta.xls">Krupanj
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Senta%20Gama.xlsx">Senta
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Krupanj%20Gama.xlsx">Krupanj
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sid%20Alfa%20Beta.xlsx">Šid
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Krusevac%20Alfa%20Beta.xls">Kruševac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sid%20Gama.xlsx">Šid
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Kursumlija%20Alfa%20Beta.xls">Kuršumlija
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Smederevo%20Beta.xls">Smederevo
                                                                Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Leposavic%20Alfa%20Beta.xls">Leposavić
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sombor%20Alfa%20Beta.xls">Sombor
                                                                Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Leskovac%20Alfa%20Beta.xls">Leskovac
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sombor%20Gama.xlsx">Sombor
                                                                Gama</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Ljubovia%20Gama.xlsx">Ljubovija
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Sremska%20Mitrovica%20Alfa%20Beta.xls">Sremska
                                                                Mitrovica Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Loznica%20Alfa%20Beta.xls">Loznica
                                                                Alfa Beta</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Stara%20Pazova%20Alfa%20Beta.xls">Stara
                                                                Pazova Alfa Beta</a></td>
                                        </tr>
                                        <tr>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Loznica%20Gama.xlsx">Loznica
                                                                Gama</a></td>
                                                <td><a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021Izvestaj/Stara%20Pazova%20Gama.xlsx">Stara
                                                                Pazova Gama</a></td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div> -->
</div>

{% endblock %}