<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{godine}}

    {% for godina in godine %}
    <h1>{{godina}}</h1>
    <table class="table">
        <tbody>
            {% for o in opstinsko %}
            {% if godina in o['name'] %}
            <tr>
                <th>{{o['name']}}</th>

                <th><a class="link-with-pdf-icon" href="{{['link']}}"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>{{o['link']}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>

</html>