{% extends 'layout.html' %}
{% block title %}Вести{% endblock title %}
{% block content %}

<div class="container-fluid d-none d-md-block">
    <div class="row justify-content-center" data-page="2">
        <div class="col-md-4 news-section">
            <div class="news-item">
                <h3 class="news-title">Објашњење за члан 33. Правилника</h3>
                <div class="news-content">
                    <p>Молимо све ученике и наставнике да пажљиво прочитају члан 33. Правилника
                        такмичења,
                        зато што круже разне варијанте везане за пролазак и пласирење на следећи ниво такмиченја
                        (непотребно
                        изостављено):
                        <center>
                            <h3><strong>члан 33.</strong></h3>
                        </center>
                    </p>
                    <p>(1) Ученик који из <b>објективних разлога</b> (болест, друга такмичења и сл.) није учествовао на
                        општинском такмичењу или на основу резултата са општинског такмичења није изборио пласман на
                        окружно
                        стиче право учешћа на окружном такмичењу уколико је у претходној школској години учествовао на
                        државном такмичењу. <br>
                        (4) Неко од права из претходна три става овог члана ученик <b>у току школске године може
                            користити
                            највише једном</b> и то само под условом да се у текућој школској години такмичи у разреду и
                        категорији којима припада по разреду и одељењу које похађа. <br>
                        (7) .... <b>Рок за подношење молби је 5 дана</b> од утврђивања и објављивања списка претходног
                        нивоа
                        такмичења. Да би ученик био позван на такмичење по овом члану, потребно је да <b>упути молбу
                            државној комисији</b>.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 news-section">
            <div class="news-item">
                <img src="image1.jpg" alt="News image 1">
                <h3 class="news-title">Општинско такмичење 24.01.2024.</h3>
                <p class="news-content">
                    Сви ученици који желе да учествују на такмичењима, пре почетка Општинског
                        такмичења лично, или родитељи за малолетне ученике, морају потписати <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izjava%202024.pdf">Изјаву</a></b>
                        <b>о сагласности за јавно објављивање података</b>, неопходних за регуларно одржавање такмичења.
                        Изјава
                        се чува у школској документацији школе коју ученик похађа.
                    </p>
                    <p><b>Обавештење</b> <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Obavestenje%20organizatorima%20opstinsko%2024.pdf">Организаторима.</a></b>
                        Задаци се шаљу на мејл адресе из <a
                            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf"><b>Табеле</b></a>
                        пријављених Организатора два сата пре почетка такмичења.</p>
                    <p>Табеле за слање извештаја са Општинског нивоа за <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20AB.xlsx">Алфа/Бета</a></b>
                        и <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20Gama.xlsx">Гама</a></b>
                        категорију.
                </p>
                <!-- <div class="more-button">
                    <a href="article1.html" class="btn btn-primary">Opsirnije</a>
                </div> -->
            </div>
        </div>
        <div class="col-md-4 news-section">
            <div class="news-item">
                <h3 class="news-title">Општинско такмичење 24.01.2024.</h3>
                <div class="news-content">
                    <p>Сви ученици који желе да учествују на такмичењима, пре почетка Општинског
                        такмичења лично, или родитељи за малолетне ученике, морају потписати <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izjava%202024.pdf">Изјаву</a></b>
                        <b>о сагласности за јавно објављивање података</b>, неопходних за регуларно одржавање такмичења.
                        Изјава
                        се чува у школској документацији школе коју ученик похађа.
                    </p>
                    <p><b>Обавештење</b> <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Obavestenje%20organizatorima%20opstinsko%2024.pdf">Организаторима.</a></b>
                        Задаци се шаљу на мејл адресе из <a
                            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf"><b>Табеле</b></a>
                        пријављених Организатора два сата пре почетка такмичења.</p>
                    <p>Табеле за слање извештаја са Општинског нивоа за <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20AB.xlsx">Алфа/Бета</a></b>
                        и <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20Gama.xlsx">Гама</a></b>
                        категорију.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}