{% extends 'layout.html' %}
{% block title %}Вести{% endblock title %}
{% block content %}

<div class="container-fluid d-none d-md-block">
    <h1 class="text-center" style="padding: 1rem;">Вести</h1>
    <h1 class="text-center" style="padding: 1rem;">Школска 2023-2024 година</h1>
    <div class="row justify-content-center" data-page="2">
        <div class="col-md-4 news-section">
            <div class="news-item">
                <h3 class="news-title">Објашњење за члан 33. Правилника</h3>
                <div class="news-content">
                    <p class="news-content">
                        <p>Молимо све ученике и наставнике да пажљиво прочитају члан 33. Правилника такмичења,
                            зато што круже разне варијанте везане за пролазак и пласирење на следећи ниво такмиченја
                            (непотребно изостављено):</p>
                        <div class="text-center">
                            <h3><strong>члан 33.</strong></h3>
                        </div>
                        <p>(1) Ученик који из <b>објективних разлога</b> (болест, друга такмичења и сл.) није учествовао на
                            општинском такмичењу или на основу резултата са општинског такмичења није изборио пласман на
                            окружно стиче право учешћа на окружном такмичењу уколико је у претходној школској години
                            учествовао на државном такмичењу. <br>
                            (4) Неко од права из претходна три става овог члана ученик <b>у току школске године може
                                користити највише једном</b> и то само под условом да се у текућој школској години такмичи у
                            разреду и категорији којима припада по разреду и одељењу које похађа. <br>
                            (7) .... <b>Рок за подношење молби је 5 дана</b> од утврђивања и објављивања списка претходног
                            нивоа такмичења. Да би ученик био позван на такмичење по овом члану, потребно је да <b>упути молбу
                                државној комисији</b>.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 news-section">
            <div class="news-item">
                <img src="image1.jpg" alt="News image 1">
                <h3 class="news-title">Општинско такмичење 24.01.2024.</h3>
                <p class="news-content">
                    Сви ученици који желе да учествују на такмичењима, пре почетка Општинског
                        такмичења лично, или родитељи за малолетне ученике, морају потписати <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izjava%202024.pdf">Изјаву</a></b>
                        <b>о сагласности за јавно објављивање података</b>, неопходних за регуларно одржавање такмичења.
                        Изјава
                        се чува у школској документацији школе коју ученик похађа.
                    </p>
                    <p><b>Обавештење</b> <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Obavestenje%20organizatorima%20opstinsko%2024.pdf">Организаторима.</a></b>
                        Задаци се шаљу на мејл адресе из <a
                            href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf"><b>Табеле</b></a>
                        пријављених Организатора два сата пре почетка такмичења.</p>
                    <p>Табеле за слање извештаја са Општинског нивоа за <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20AB.xlsx">Алфа/Бета</a></b>
                        и <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20Gama.xlsx">Гама</a></b>
                        категорију.
                </p>
            </div>
        </div>
        <div class="col-md-4 news-section">
            <div class="news-item">
                <h3 class="news-title">Обавештење 20.01.2024.</h3>
                <div class="news-content">
                    <p>Поздрављамо све старе и нове посетиоце ове странице.
                        Како нови сајт још није готов, овде ћемо поставити нове информације везане за такмичење из
                        физике у 2023/24 школској години. <br>
                        <b>КАЛЕНДАР такмичења:</b>
                        <center>ОПШТИНСКО: 04.02. у 10 сати <br>
                            ОКРУЖНО: 16.03. у 10 сати <br>
                            ДРЖАВНО: 06.04. у 12 сати</center>
                    </p>
                    <p>За све информације је поново активиран мејл: <b><a
                                href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a></b><br></p>
                    <p>Од министарства Просвете смо добили списак <b>пријављених организатора</b> за Општинско такмичење
                        из
                        којег смо издвојили организаторе из <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf">физике.</a></b>
                        Молимо да благовремено пријавите допуну/измену овог списка са реалним Организаторима (слањем
                        података које се налазе у Табели на горњи мејл).</p>
                    <p>Испод активних поља се налазе <b>Програми градива</b> за <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/PlanTakmicenja2021.pdf">Алфа/Бета</a></b>
                        и <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Gama%20program%20-%202024.pdf">Гама</a></b>
                        категорију, који иду на такмичење, као и мало измењен <b><a
                                href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Pravilnik%20o%20takmicenjima%20iz%20fizike%20ucenika%20srednjih%20skola%20-%202023.pdf">Правилник
                                такмичења.</a></b><br>

                        Уколико (осим на мађарски) постоји потреба за <b>превођење задатака</b> на језик националних
                        мањина,
                        молимо да то благовремено пријавите на горњи мејл.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between my-4">
        <a href="/vesti" class="btn btn-primary">Prethodna strana</a>
        <a href="/vesti2" class="btn btn-primary">Sledeća strana</a>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Prethodna">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="/vesti">1</a></li>
            <li class="page-item"><a class="page-link" href="/vesti2">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Sledeća">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock content %}