{% extends 'layout.html' %}
{% block title %}Вести{% endblock title %}
{% block content %}

<div class="container">
    <h1 class="text-center my-4">Вести</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">14.02.2024.</h5>
                    <p class="card-text">Списак позваних ученика на Окружно такмичење се налази на страници <a href="/okruzno">ОКРУЖНО.</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Резултати Општинског такмичења
                        (07.02.2024.)</h5>
                    <p class="card-text">Статистика резултата са општинског такмичења показују да су задаци били претешки за ученике (видети на страници Општинско). Зато молимо све Окружне комисије да спусте границе пролаза на Окружно такмичење до разумне мере и, по могућности, позову што више ученика на следећи ниво такмичења.</p>
                    <p>Организатори Окружног такмичења се налазе у <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno%2024/OKRUZNO%20organizatori%2024.pdf">Табели</a> (подаци са сајта Министарства). Молимо да благовремено пријавите допуну/измену овог списка са реалним Организаторима, слањем података које се налазе у Табели на мејл  <a href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a> (уколико је школа домаћин био организатор и Општинског, довољно је пријавити само име школе и града).</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Општинско такмичење
                        04.02.2024.</h5>
                    <p class="card-text">Задаци и решења са Општинског такмичења се налазе на страници ОПШТИНСКО
                        Молбе за позивање на Окружно такмичење <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Molba%20za%20pozivanje%20na%20Okruzno%202024.pdf">(молба)</a> по члану 33. се шаљу до 13.02.2024. електронски (скенирана или усликана потписана молба), на мејл <a href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 1rem;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Општинско такмичење 24.01.2024.</h5>
                    <p class="card-text">Сви ученици који желе да учествују на такмичењима, пре почетка Општинског такмичења лично, или родитељи за малолетне ученике, морају потписати <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izjava%202024.pdf">Изјаву</a>  о сагласности за јавно објављивање података, неопходних за регуларно одржавање такмичења. Изјава се чува у школској документацији школе коју ученик похађа.</p>
                    <p>Обавештење <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Obavestenje%20organizatorima%20opstinsko%2024.pdf">Организаторима.</a> Задаци се шаљу на мејл адресе из <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf">Табеле</a> пријављених Организатора два сата пре почетка такмичења.</p>
                    <p>Табеле за слање извештаја са Општинског нивоа за <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20AB.xlsx">Алфа/Бета</a> и <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Izvestaj-sa-takmicenja-2024%20Gama.xlsx">Гама</a> категорију. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Обавештење 20.01.2024.</h5>
                    <p class="card-text">Поздрављамо све старе и нове посетиоце ове странице.
                        Како нови сајт још није готов, овде ћемо поставити нове информације везане за такмичење из физике у 2023/24 школској години.
                        КАЛЕНДАР такмичења:  <center>ОПШТИНСКО: 04.02. у 10 сати <br>
                            ОКРУЖНО:       16.03. у 10 сати <br>
                             ДРЖАВНО:       06.04. у 12 сати</center></p>
                    <p>За све информације је поново активиран мејл: <a href="mailto:takmicenje@df.uns.ac.rs">takmicenje@df.uns.ac.rs</a><br></p>
                    <p>Од министарства Просвете смо добили списак пријављених организатора за Општинско такмичење из којег смо издвојили организаторе из <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/OPSTINSKO%20organizatori%2024.pdf">физике.</a>  Молимо да благовремено пријавите допуну/измену овог списка са реалним Организаторима (слањем података које се налазе у Табели на горњи мејл).</p>
                    <p>Испод активних поља се налазе Програми градива за <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/PlanTakmicenja2021.pdf">Алфа/Бета</a> и <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Gama%20program%20-%202024.pdf">Гама</a> категорију, који иду на такмичење, као и мало измењен <a href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko%2024/Pravilnik%20o%20takmicenjima%20iz%20fizike%20ucenika%20srednjih%20skola%20-%202023.pdf">Правилник такмичења.</a><br>

                        Уколико (осим на мађарски) постоји потреба за превођење задатака на језик националних мањина, молимо да то благовремено пријавите на горњи мејл.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/najnovije/IMG_20230718_181411.jpg" class="card-card-img-top w-100" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center">IPhO 2024  Tokio Japan</h5>
                    <p class="card-text">Сви наши такмичари су освојили по бронзану медаљу на светској Олимпијади из физике IPhO 2024, која је одржана у Токију у Јапану од 10-17. јула 2023. године. У екипи Србије су учествовали:</p>
                    <img src="/static/images/najnovije/Tim Srbije.png" class="card-card-img-body w-100" alt="">
                    <p>Тадија Јелесијевић, Тадеј Ристић, Вук Хип, Сава Тодоровић и Ђорђе Паројчић.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end my-4">
        <a href="#" class="btn btn-primary">Sledeća strana</a>
    </div>
</div>

{% endblock content %}