{% extends 'layout.html' %}
{% block title %}Задаци{% endblock title %}
{% block content %}

<!-- tabela sa zadacima -->


<div class="container added-padding-top display-for-bigger-screen">
    <h2>Задаци са такмичења 2021.</h2>
    <table class="table center-text-td">
        <thead>
            <tr>
                <th colspan="2">Задаци са ОПШТИНСКОГ такмичења одржаног 30.01.2021. године</th>
                <th colspan="2">Задаци са ОКРУЖНОГ такмичења одржаног 20.02.2021. године</th>
                <th>Задаци са Државног такмичења одржаног 23.04.2021. године</th>
                <th>Задаци са СФО</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>I разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IOp2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    I разред Алфа категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">I
                        DRZAVNO ALFA KATEGORIJA 2021</a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%201%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        1 - RESENJE SFO 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    I разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IOp2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    I разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021Beta.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">I
                        DRZAVNO BETA KATEGORIJA 2021</a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%202%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        2 - RESENJE SFO 2021</a></td>
            </tr>
            <tr>
                <td>
                    I разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/Opstinsko%20gama%202021%20-%201.Razred%20-%20sa%20resenjima.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
                <td>
                    I разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021GamaResenja.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20i%20II%20DRZAVNO%20MISAONI%20EXP%202021.pdf">I
                        i II DRZAVNO MISAONI EXP 2021</a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%203%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        3 - RESENJE SFO 2021</a>
                </td>
            </tr>
            <tr>
                <td>II разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIOp2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td> II разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/II%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">
                        II DRZAVNO ALFA KATEGORIJA 2021</a></td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/SFO_EXP_ZADATAK_2021.pdf">SFO_EXP_ZADATAK_2021</a>
                </td>
            </tr>
            <tr>
                <td>II разред Бета категорија</td>
                <td>

                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIOp2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    II разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/II%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">II
                        DRZAVNO BETA KATEGORIJA 2021</a>
                </td>
                <td class="font-weight-bold">Задаци са IPhO
                </td>
            </tr>

            <tr>
                <td>
                    II разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/Opstinsko%20gama%202021%20-%202.Razred%20-%20sa%20resenjima.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    II разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021GamaResenja.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">III
                        DRZAVNO ALFA KATEGORIJA 2021</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-experiment-Q1-srb-serbia.pdf">exam-experiment-Q1-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td>III разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIIOP2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>III разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIIOK2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">III
                        DRZAVNO BETA KATEGORIJA 2021</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Exp1_Solution_Final.pdf">Exp1_Solution_Final</a>
                </td>
            </tr>
            <tr>
                <td>III разред Бета категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIIOP2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>III разред Бета категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIIOK2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20MISAONI%20EXP%202021.pdf">III
                        DRZAVNO MISAONI EXP 2021</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-experiment-Q2-srb-serbia.pdf">exam-experiment-Q2-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td>IV разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IVOpAlfa2021.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>IV разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IVOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/IV%20DRZAVNO%20ALFA%20KATEGORIJA.pdf">IV
                        DRZAVNO ALFA KATEGORIJA</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Exp2_Solution.pdf">Exp2_Solution</a>
                </td>
            </tr>
            <tr>
                <td>
                    IV разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IVOpBeta2021.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td>
                    IV разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IVOk2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/IV%20DRZAVNO%20BETA%20KATEGORIJA.pdf">IV
                        DRZAVNO BETA KATEGORIJA</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q1-srb-serbia.pdf">exam-theory-Q1-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/IV%20DRZAVNO%20Misaoni%20Eksperiment.pdf">IV
                        DRZAVNO Misaoni Eksperiment</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th1-Solution.pdf">Th1-Solution</a>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><b>Гама</b></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q2-srb-serbia.pdf">exam-theory-Q2-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/Drzavno2021_%201Raz.pdf">Drzavno2021_
                        1Raz</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th2-Solution.pdf">Th2-Solution</a>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/Drzavno2021_%202Raz.pdf">Drzavno2021_
                        2Raz</a></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q3-srb-serbia.pdf">exam-theory-Q3-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th3-Solution.pdf">Th3-Solution</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- responsive view -->
<div class="display-for-mobile container text-center">
    <h3 class="dont-display-until-phone mt-3">Задаци сатакмичења 2021</h3>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    Задаци са ОПШТИНСКОГ такмичења одржаног 30.01.2021. године
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>I разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IOp2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    I разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IOp2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    I разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/Opstinsko%20gama%202021%20-%201.Razred%20-%20sa%20resenjima.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
            </tr>
            <tr>
                <td>II разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIOp2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>II разред Бета категорија</td>
                <td>

                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIOp2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    II разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/Opstinsko%20gama%202021%20-%202.Razred%20-%20sa%20resenjima.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>III разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIIOP2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>III разред Бета категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IIIOP2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>IV разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IVOpAlfa2021.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    IV разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Opstinsko2021/IVOpBeta2021.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table add-margin-border-top">
        <thead>
            <tr>
                <th colspan="2">Задаци са ОКРУЖНОГ такмичења одржаног 20.02.2021. године</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    I разред Алфа категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    I разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021Beta.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
            </tr>
            <tr>
                <td>
                    I разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IOk2021GamaResenja.pdf"><img
                            src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt=""></a>
                </td>
            </tr>
            <tr>
                <td> II разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    II разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    II разред Гама категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIOk2021GamaResenja.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>III разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIIOK2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>III разред Бета категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IIIOK2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>IV разред Алфа категорија</td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IVOk2021Alfa.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    IV разред Бета категорија
                </td>
                <td>
                    <a class="link-with-pdf-icon"
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Okruzno2021/IVOk2021Beta.pdf">
                        <img src="{{ url_for('static', filename='images/pdf_icon.svg') }}" alt="">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table add-margin-border-top">
        <thead>
            <tr>
                <th>Задаци са Државног такмичења одржаног 23.04.2021. године</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">I
                        DRZAVNO ALFA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">I
                        DRZAVNO BETA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/I%20i%20II%20DRZAVNO%20MISAONI%20EXP%202021.pdf">I
                        i II DRZAVNO MISAONI EXP 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/II%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">
                        II DRZAVNO ALFA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/II%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">II
                        DRZAVNO BETA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20ALFA%20KATEGORIJA%202021.pdf">III
                        DRZAVNO ALFA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20BETA%20KATEGORIJA%202021.pdf">III
                        DRZAVNO BETA KATEGORIJA 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/III%20DRZAVNO%20MISAONI%20EXP%202021.pdf">III
                        DRZAVNO MISAONI EXP 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/IV%20DRZAVNO%20ALFA%20KATEGORIJA.pdf">IV
                        DRZAVNO ALFA KATEGORIJA</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/IV%20DRZAVNO%20BETA%20KATEGORIJA.pdf">IV
                        DRZAVNO BETA KATEGORIJA</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th1-Solution.pdf">Th1-Solution</a>
                </td>
            </tr>
            <tr>
                <th>Гама</th>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/Drzavno2021_%201Raz.pdf">Drzavno2021_
                        1Raz</a></td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/Drzavno2021/Zadaci/Drzavno2021_%202Raz.pdf">Drzavno2021_
                        2Raz</a></td>
            </tr>
        </tbody>
    </table>

    <table class="table add-margin-border-top">
        <thead>
            <tr>
                <th>Задаци са СФО</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%201%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        1 - RESENJE SFO 2021</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%202%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        2 - RESENJE SFO 2021</a></td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/ZADATAK%203%20-%20RESENJE%20SFO%202021.pdf">ZADATAK
                        3 - RESENJE SFO 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/SFO%202021/Zadaci/SFO_EXP_ZADATAK_2021.pdf">SFO_EXP_ZADATAK_2021</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table add-margin-border-top">
        <thead>
            <tr>
                <th>Задаци са IPhO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-experiment-Q1-srb-serbia.pdf">exam-experiment-Q1-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Exp1_Solution_Final.pdf">Exp1_Solution_Final</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-experiment-Q2-srb-serbia.pdf">exam-experiment-Q2-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Exp2_Solution.pdf">Exp2_Solution</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q1-srb-serbia.pdf">exam-theory-Q1-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th1-Solution.pdf">Th1-Solution</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q2-srb-serbia.pdf">exam-theory-Q2-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th2-Solution.pdf">Th2-Solution</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/exam-theory-Q3-srb-serbia.pdf">exam-theory-Q3-srb-serbia</a>
                </td>
            </tr>
            <tr>
                <td><a
                        href="https://www.df.uns.ac.rs/takmicenjefizikasrednje/Documents/IPhO2021/Th3-Solution.pdf">Th3-Solution</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table add-margin-border-top">
        <tbody>
            <tr>
                <th><a href="https://drive.google.com/drive/folders/1-VdVYddOYK-NjW9OgsWzxLs7Cw54bq0B">Задаци са
                        претходних такмичења</a></th>
                <th><a href="http://takmicenja.dfs.rs/">Такмичења ранијих година</a></th>
            </tr>
        </tbody>
    </table>
</div>

<!-- tabela sa zadacima -->
{% endblock content %}