{% extends 'layout.html' %}
{% block title %}Почетна страна{% endblock title %}
{% block content %}

<div class="container" style="padding: 2rem 0;">
    <!-- Takmicenja zadaci i resenja -->
    <div class="row justify-content-md-center text-center">
        <div class="col-md-12">
            <h1>Задаци и решења</h1>
        </div>
    </div>
    <div class="row justify-content-md-center text-center " id="takmicenja">
        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2023</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2022-2023">Општинско такмичење</a>
                <a href="/okruzno#okruzno-2023">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2023">Републичко такмичење</a>
                <a href="/sfo#sfo-2023">Српсkа физичка олимпијада</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2022</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2022">Општинско такмичење</a>
                <a href="/okruzno#okruzno-2022">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2022">Републичко такмичење</a>
                <a href="/sfo#sfo-2022">Српсkа физичка олимпијада</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2021</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2021">Општинско такмичење</a>
                <a href="/okruzno#okruzno-2022">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2021">Републичко такмичење</a>
                <a href="/sfo#sfo-2021">Српсkа физичка олимпијада</a>
            </ul>
        </div>
    </div>
    <!-- Takmicenja zadaci i resenja -->
</div>

{% endblock content %}