{% extends 'layout.html' %}
{% block title %}Почетна страна{% endblock title %}
{% block content %}

<div class="container" style="padding: 2rem 0;">
    <!-- Takmicenja zadaci i resenja -->
    <div class="container justify-content-md-center text-center">
        <h1>Задаци и решења</h1>
    </div>

    <div class="container d-flex justify-content-around text-center" style="margin: 0 auto">
        <a href="https://drive.google.com/drive/folders/1-VdVYddOYK-NjW9OgsWzxLs7Cw54bq0B">Задаци са
            претходних
            такмичења</a><a href="http://takmicenja.dfs.rs/">Такмичења ранијих година</a>
    </div>

    <div class="container dodaj_d_flex justify-content-md-center text-center " id="takmicenja">
        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2023</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2022-2023">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2023">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2023">Републичко такмичење</a>
                <a href="/sfo#sfo-2023">Српсkа физичка олимпијада</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2022</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2022">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2022">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2022">Републичко такмичење</a>
                <a href="/sfo#sfo-2022">Српсkа физичка олимпијада</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2021</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2021">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2022">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2021">Републичко такмичење</a>
                <a href="/sfo#sfo-2021">Српсkа физичка олимпијада</a>
            </ul>
        </div>
    </div>

    <div class="container dodaj_d_flex justify-content-md-center text-center " id="takmicenja">
        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2020</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2020">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2020">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2020">Републичко такмичење</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2019</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2019">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2019">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2019">Републичко такмичење</a>
            </ul>
        </div>

        <div class="col-md-3 text-center mx-auto rounded"
            style="background-color: #c94d65; color: black; padding: 2rem; margin: 1rem;">
            <h4 style="padding-bottom: 1rem;">Такмичење 2018</h4>
            <ul style="list-style-type:none; padding-left:0;" id="main_linkovi_pillshaped2">
                <a href="/opstinsko_zadaci#opstinsko-2018">Општинско такмичење</a>
                <a href="/okruzno_zadaci#okruzno-2018">Окружно такмичење</a>
                <a href="/drzavno_zadaci#drzavno-2018">Републичко такмичење</a>
            </ul>
        </div>
    </div>
    <!-- Takmicenja zadaci i resenja -->
</div>

{% endblock content %}