.header-image img {
    width: 60%;
}

.link-with-pdf-icon img {
    width: 50px;
    height: 50px;
}

.display-for-mobile {
    display: none;
}

@media only screen and (max-width: 766px) {
    .header-image img {
        width: 100%;
    }
  }


/* Responsive styles for mobile screens */
@media (max-width: 767px) {
    .display-for-mobile {
        display: block;
    }

    .display-for-bigger-screen {
        display: none;
        border: red;
    }

    .link-with-pdf-icon img {
        width: 40px;
        height: 40px;
    }

    .add-margin-border-top {
        border-top: 2px solid black;
        padding-top: 5em;
    }
}