@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* .fix-width {
    width: 100%;
    height: 10vh;
} */

.add-padding {
  padding: 2em;
}

.navbar-letters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.navbar-letters li {
  width: auto;
  padding-right: 1em;
}

.navbar li a {
  color: white;
}

/* @media only screen and (max-width: 765px) {
    body {
      background-color: lightblue;
    }
    .fix-width {
        height: 100%;
} */

.justify-content-md-center a {
  text-decoration: none;
  border-radius: 50px;
  /* Zaobljava rubove linkova */
  /* Dodaje malo prostora unutar linkova */
  background-color: transparent;
  /* Postavlja pozadinsku boju */
  color: rgb(185, 132, 0);
  /* Postavlja boju teksta */
  transition: all 0.2s ease-in-out;
  /* Dodaje tranziciju za hover efekat */
  padding: 2px 10px;

  &:hover {
    background-color: palegoldenrod;
    color: blue;
  }
}

.justify-content-md-center p {
  padding: 1.5rem;
}

/* za Takmicenja, linkovi da budu vertikalni */
.col ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stil za razmak između linkova na sekciji Takmicenja*/
/* .col ul a{
    margin-bottom: 10px;
    text-decoration: none;
    font: bold;
} */

.col ul a {
  border-radius: 50px;
  /* Zaobljava rubove linkova */
  padding: 10px 20px;
  /* Dodaje malo prostora unutar linkova */
  background-color: transparent;
  /* Postavlja pozadinsku boju */
  color: rgb(185, 132, 0);
  /* Postavlja boju teksta */
  transition: all 0.2s ease-in-out;
  /* Dodaje tranziciju za hover efekat */
  text-decoration: none;

  /* Dodaje efekat hover-a */
  &:hover {
    background-color: palegoldenrod;
    color: blue;
  }
}

.carousel-caption-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: none;
}

.carousel-control-prev {
  left: 30px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev::after,
.carousel-control-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
}

.carousel-control-prev::before {
  left: 10px;
}

.carousel-control-next::before {
  right: 10px;
}

.carousel-item img {
  object-fit: contain;
  height: 100vh;
}

.carousel {
  height: 100vh;
}

@media (max-width: 767px) {
  .no-wrap {
    display: flex;
    align-items: center;
  }

  .no-wrap img {
    margin-left: 5px;
    /* Prilagodite prema potrebi */
  }

  .map-container {
    width: 100%;
  }

  .map-container iframe {
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    bottom: 50%;
    /* Promenjeno sa 'bottom: 0' na 'bottom: 10%' */
  }

  .carousel-caption-bottom {
    font-size: 0.8rem;
    /* Smanjuje veličinu fonta */
    padding: 0.1rem;
    /* Smanjuje padding */
    background-color: rgba(0, 0, 0, 0.5);
    /* Povećava transparentnost pozadine */
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  box-shadow: 0 0 0 1px white;
}

.fa-arrow-up.text-white {
  color: white;
}

.rounded-circle {
  border-radius: 50%;
}

.col h4 {
  padding: 0 0 1rem 0;
}

.added-padding-top {
  padding-top: 3em;
}

.link-with-pdf-icon {
  width: 100%;
}

.link-with-pdf-icon img {
  width: 100%;
}