.header-image img {
    width: 60%;
}

.link-with-pdf-icon img {
    width: 50px;
    height: 50px;
}

.display-for-mobile {
    display: none;
}

.fix-ipho-header-image img {
    width: 100%;
}

.fix-ipho-header-text {
    padding-top: 5em;
}

.custom-table th {
    text-align: center;
    vertical-align: middle;
  }

  .custom-table th img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  

.contestants-images img{
    height: 250px; width: 250px; border-radius: 10px
}

.ipho-table-smaller-screens {
    display: none;
}

@media only screen and (max-width: 991px) {
    .ipho-table-smaller-screens {
        display: block;
    }
    .custom-table {
        display: none;
    }

    .img-in-th {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 766px) {
    .header-image img {
        width: 100%;
    }
    .custom-table tbody tr th img {
        width: 100px;
        height: 150px;
    }

    .make-text-smaller-smaller-screens {
        font-size: 20px;
    }

    .make-text-smaller-more-smaller-screens {
        font-size: 15px;
    }
  }


/* Responsive styles for mobile screens */
@media (max-width: 767px) {
    .display-for-mobile {
        display: block;
    }

    .center-text-smaller-screen {
        text-align: center;
    }

    .contestants-images img{
        height: 200px; width: 150px; border-radius: 10px
    }

    .display-for-bigger-screen {
        display: none;
        border: red;
    }

    .link-with-pdf-icon img {
        width: 40px;
        height: 40px;
    }

    .add-margin-border-top {
        border-top: 2px solid black;
        padding-top: 5em;
    }

    .remove-padding-top {
        margin-top: 2em;
        padding-top: 2em;
    }
}