@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* .fix-width {
    width: 100%;
    height: 10vh;
} */

.add-padding {
  padding: 2em;
}

.navbar-letters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav-item-dropdown {
  position: relative;
}

/* Stilizacija dropdown menija */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #343a40; /* Boja pozadine dropdown menija */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Senka */
  z-index: 1;
}

/* Stilizacija linkova u dropdown meniju */
.dropdown-item {
  padding: 10px;
  cursor: pointer; /* Dodali smo stil da pokazivač miša bude kao ruka (kursor) */
}

/* Prikazivanje dropdown menija kada se hoveruje na .nav-item-dropdown */
.nav-item-dropdown:hover .dropdown-menu {
  display: block;
}

/* Boja linkova u dropdown meniju kada se hoveruje */
.dropdown-item:hover {
  background-color: #555;
}

/* Boja teksta linkova u dropdown meniju */
.navbar-letters li a, .dropdown-item {
  color: white;
  text-decoration: none; /* Dodato da se ukloni podvučenost linkova u dropdown meniju */
  display: block; /* Prikazuje link kao blok element, zauzima celu širinu roditeljskog reda */
}

/* Stilizacija aktivnog linka u dropdown meniju */
.dropdown-item.active {
  background-color: #007bff; /* Boja aktivnog linka */
}

.nav-link.active {
  color: #fff;
  /* Postavite boju teksta prema potrebi */
  font-weight: bold;
  /* Dodajte druge stilove prema potrebi */
  text-shadow: 0 0 5px lightblue;
}

/* @media only screen and (max-width: 765px) {
    body {
      background-color: lightblue;
    }
    .fix-width {
        height: 100%;
} */

#main_linkovi_pillshaped_1 a {
  text-decoration: none;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 2px 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: palegoldenrod;
  }
}

#main_linkovi_pillshaped2 a {
  text-decoration: none;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;
  /* Dodajte display: inline-block */
  width: 16rem;
  /* Postavite željenu širinu "pillshape-a" */
  text-align: center;
  /* Da biste centrirali tekst unutar "pillshape-a" */

  &:hover {
    background-color: lightblue;
  }
}

.justify-content-md-center p {
  padding: 1.5rem;
}

/* za Takmicenja, linkovi da budu vertikalni */
#takmicenja ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stil za razmak između linkova na sekciji Takmicenja*/
/* .col ul a{
    margin-bottom: 10px;
    text-decoration: none;
    font: bold;
} */

.carousel-caption-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: none;
}

.carousel-control-prev {
  left: 30px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev::after,
.carousel-control-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
}

.carousel-control-prev::before {
  left: 10px;
}

.carousel-control-next::before {
  right: 10px;
}

.carousel-item img {
  object-fit: contain;
  height: 100vh;
}

.carousel {
  height: 100vh;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  transition: box-shadow 0.1s ease;
  box-shadow: 0 0 0 1px white;

  &:hover {
    box-shadow: 0 0 8px 2px white;
  }
}

.fa-arrow-up.text-white {
  color: white;
}

.rounded-circle {
  border-radius: 50%;
}

.col h4 {
  padding: 0 0 1rem 0;
}

.added-padding-top {
  padding-top: 3em;
}

.link-with-pdf-icon {
  width: 100%;
}

.link-with-pdf-icon img {
  width: 100%;
}

#footer a {
  transition: text-shadow 0.3s ease;
}

#footer a:hover {
  text-shadow: 0 0 2px white;
  /* Adjust the shadow properties as needed */
}

.table-responsive p {
  font-size: 16px;
  /* Podesite veličinu fonta prema potrebi */
  margin-bottom: 10px;
  /* Podesite razmak između linkova prema potrebi */
}

#card-vesti h3 {
  padding-bottom: 1rem;
}

.news-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.news-item {
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}

.news-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.news-item .news-content {
  text-align: justify;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.btn-pagination {
  margin: 0 5px;
}

.current-page {
  background-color: #007bff;
  color: #fff;
}

/* CSS za sakrivanje svih redova prilikom učitavanja stranice */
.row.vesti {
  display: flex;
}
/* CSS za prikazivanje samo odabranog reda */
.row.vesti.flex {
  display: flex;
}
/* CSS za skrivanje odabranog reda */
.row.vesti:not(.d-flex) {
  display: none;
}
.row.vesti{
  padding-top: 2rem;
}

@media (max-width: 767px) {
  .no-wrap {
    display: flex;
    align-items: center;
  }

  .no-wrap img {
    margin-left: 5px;
    /* Prilagodite prema potrebi */
  }

  .map-container {
    width: 100%;
  }

  .map-container iframe {
    width: 100%;
    height: 300px;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    bottom: 10%;
    /* Promenjeno sa 'bottom: 0' na 'bottom: 10%' */
  }

  .carousel-caption-bottom {
    font-size: 0.6rem;
    /* Smanjuje veličinu fonta */
    padding: 0.1rem;
    /* Smanjuje padding */
    background-color: rgba(0, 0, 0, 0.5);
    /* Povećava transparentnost pozadine */
  }

  .carousel {
    height: 47vh;
  }

  #imgbr2 {
    height: 300px;
  }

  #sfo2 {
    padding: 2rem;
  }

  .table-responsive p {
    font-size: 14px;
    /* Podesite veličinu fonta za mobilne uređaje prema potrebi */
  }

  #container-naslovna {
    height: auto !important;
  }
}